.header
    .toolbar
        a(href='./').active
            div Home
        a(href='./docs')
            div Documentation
        a(href='./repl')
            div Try online
        a(href='https://github.com/quack/quack')
            div GitHub
        a(href='./install').featured
            div Install

    .logo-container
        img(src='./logo.png' draggable='false').logo
