head
    title Quack Programming Language
    meta(charset='utf-8')
    link(rel='shortcut icon' href='./favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Mono')
    link(rel='stylesheet' href='./main.css' type='text/css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.css' type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/theme/paraiso-light.min.css' type='text/css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/mode/swift/swift.min.js')
