head
    title Quack Programming Language
    meta(charset='utf-8')
    link(rel='shortcut icon' href='./favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='./main.css' type='text/css')
